* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
    background-color: white;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration:none;
}

.xs-plugin-pulldown-container {
    color: #666;
}

.xs-plugin-pullup-container {
    color: #666;
}
